/*обнулление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/*обнулление стилей*/

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #AE1332;
}

.content {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

header {
  color: #AE1332;
  background-color: #FFFFFF;
}

nav {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  padding: 16px 32px;
}

.navigation {
  display: flex;
  margin-right: auto;
}

.navigation__item {
  margin-right: 20px;
}

.navigation__item:hover {
  text-decoration: underline;
}

.navigation__item:last-child {
  margin-right: 0px;
}

.navigation__item>a {
  color: inherit;
}

.logo {
  display: flex;
  margin-right: 180px;
}

.logo>p {
  text-transform: uppercase;
  font-weight: 700;
}

.logo>a>img {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.basket {
  width: 28px;
  height: 28px;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background-image: url(../svg/basket.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
}

.basket:hover {
  background-image: url(../svg/basket_arr.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  /*flex-grow: 1;*/
}

.legend {
  padding: 64px 62px 75px;
  position: relative;
  background: url(../img/hero_girls.png) no-repeat 50% 100px;
}

.legend__header,
.order__header {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
  text-align: center;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 500;
}

.legend__button {
  width: 115px;
  height: 115px;
  padding: 25px 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  left: 45%;
  top: 70%;
}

.legend__button>p {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #AE1332;
  transform: rotate(-25deg);
}

.legend__button>p:hover {
  transition: 1s;
  color: #A4CB66;
}

.promo {
  display: flex;
  justify-content: space-between;
}

.card-left {
  max-width: 270px;
  padding-top: 72px;
}

.card-left>p {
  max-width: 222px;
  margin-bottom: 44px;
  line-height: 18px;
}

.card-left__fruit {
  background-color: #A4CB66;
}

.card__fruit {
  max-width: 249px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 25px 40px;
  border-radius: 500px;
}

.card__fruit>h2 {
  margin-bottom: 60px;
  font-size: 12px;
}

.card__fruit>img {
  display: block;
  margin-bottom: 2px;
}

.card__fruit>p {
  max-width: 150px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.card-right {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-right__fruit {
  background-color: #F5CE13;
  margin-bottom: 44px;
}

.card-right__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card-right__tags>li {
  padding: 12px 32px;
  margin-left: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  border-radius: 1000px;
}

.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 32px;
}

.instruction__header,
.store__header {
  max-width: 624px;
  width: 100%;
  margin-bottom: 14px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 44px
}

.instruction__discr,
.store__discr,
.order__discr {
  max-width: 490px;
  width: 100%;
  margin-bottom: 44px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
}

.instruction__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 81px;
}

.instruction__list__item {
  max-width: 390px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 37px 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.first__item,
.second__item,
.thired__item {
  transition: 0.7s;
  cursor: pointer;
}

.first__item {
  background-color: #AE1332;
}

.first__item:hover {
  background-color: #e2264c;
}

.second__item {
  background-color: #A1C864;
}

.second__item:hover {
  background-color: #c2e984;
}


.thired__item {
  background-color: #F5CE13;
}

.thired__item:hover {
  background-color: #f0da70;
}

.instruction__list__item>span {
  max-width: 136px;
  width: 100%;
  display: block;
  margin-right: 14px;
  font-size: 18px;
  padding: 15px 0;
  text-align: center;
  border-radius: 200px;
}

.instruction__list__item>p {
  color: #000000;
}

.instruction__img {
  max-width: 860px;
  max-height: 476px;
}

.instruction__img>img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 32px;
}

.fruits {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.fruits__item {
  max-width: 390px;
  width: 100%;
  padding: 64px 24px 24px;
  margin-right: 23px;
  margin-bottom: 24px;
  border-radius: 20px;
}

.fruits__item:nth-child(3n) {
  margin-right: 0px;
}

.fruits__item>h2 {
  margin-bottom: 7px;
  font-size: 32px;
  font-weight: 700;
}

.fruits__item>p {
  margin-bottom: 4px;
  font-size: 18px;
}

.fruits__item>div {
  max-width: 295px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  margin-bottom: 5px;
}

.fruits__item>div>img {
  display: block;
  width: 100%;
  height: 100%;
}

.fruits__item>button {
  padding: 12px 15px;
  color: #AE1332;
  font-size: 18px;
  font-weight: 500;
  border-radius: 200px;
  background-color: #FFFFFF;
}

.fruits__item>button:hover {
  transition: 1s;
  background-color: #dadada;
}

.straw {
  background-color: #F8766B;
  ;
}

.bnan {
  background-color: #EDD251;
}

.wtrmel {
  background-color: #9DC262;
}

.lime {
  background-color: #BFD663;
}

.appl {
  background-color: #E93F29;
}

.pch {
  background-color: #DB4F4B;
}

.plms {
  background-color: #9B5366;
}

.orng {
  background-color: #F47F4C;
}

.kiw {
  background-color: #98B37E;
}

.store__btn {
  width: 115px;
  height: 115px;
  padding: 32px 20px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #9DC262;
}

.store__btn:hover {
  transition: 1s;
  color: #9DC262;
  background-color: #FFFFFF;
}

.store__btn__text {
  display: flex;
  transform: rotate(-25deg);
}

.store__btn__text>p {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 32px 150px;
  background: url(../img/decorate_3.png) no-repeat 50% 165px;
  /*background: url(../img/decorate_3.png) no-repeat 32px 165px,
    url(../img/decorate_2.png) no-repeat 100% 165px;*/
}

.order__header {
  max-width: 740px;
  margin-bottom: 543px;
}

.order__discr {
  margin-bottom: 80px;
}

.send-mail {
  max-width: 290px;
  width: 100%;
  min-height: 48px;
  display: flex;
  position: relative;
}

.send-mail__inpt {
  width: 100%;
  padding-left: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100px 100px;
  color: #FFFFFF;
  background-color: #AE1332;
}

.send-mail__btn {
  padding: 15px 35px;
  color: #FFFFFF;
  border-radius: 100px;
  background-color: #9DC162;
  position: absolute;
  right: 0;
}

.send-mail__btn:hover {
  transition: 0.5s;
  background-color: #7b974f;
}

footer {
  /*flex-shrink: 0;*/
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 32px;
  color: #AE1332;
  background-color: #FFFFFF;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}

.footer__logo>img {
  margin-bottom: 20px;
}

.logo__footer {
  margin-left: auto;
  margin-right: auto;
}

address {
  max-width: 180px;
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.social-item {
  margin-right: 20px;
}

.social-item:last-child {
  margin-left: 0px;
}

.icon-social {
  width: 44px;
  height: 44px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: center;
}

.link-facebook {
  background-image: url(../svg/fasebook.svg);
}

.link-instagram {
  background-image: url(../svg/ins.svg);
}

.link-youtube {
  background-image: url(../svg/youtube.svg);
}

.link-facebook:hover,
.link-instagram:hover,
.link-youtube:hover {
  background-color: rgba(174, 19, 50, 0.10);
  ;
}

address>p {
  font-size: 16px;
  font-style: normal;
  margin-bottom: 20px;
}

@media (max-width: 1280px) {
  .fruits {
    max-width: 704px;
  }

  .fruits__item {
    max-width: 344px;
    margin-right: 16px;
  }

  .fruits__item:nth-child(3n) {
    margin-right: 16px;
  }

  .fruits__item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media (max-width: 1240px) {
  .instruction__list {
    max-width: 700px;
  }

  .instruction__list__item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    transition: 1s;
  }

  .instruction__list__item:last-child {
    margin-bottom: 0;
  }
}